:root {
  /* Colors */
  --red: #E07D7D;
  --light-red: #FFA9A9;
  --yellow: #F4BC6E;
  --black: #454544;
  --white: white;
  --grey: #C4C4C4;
  --light-grey: #E5E5E5;

  /* Font Sizes */
  --large: 4.5rem;
  --medium: 1.5rem;
  --normal: 1rem;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
}

.screen-container {
  width: 100vw;
  height: 100vh;
}