input[type="checkbox"] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.checkbox {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.checkbox:hover {
    background: var(--grey);
}

.checkbox--active {
    background: var(--red);
}

.checkbox--active:hover {
    background: var(--red);
}